[submodule "pvCommonCPP"]
	path = pvCommonCPP
	url = https://github.com/epics-base/pvCommonCPP
	branch = release/4.2
[submodule "pvDataCPP"]
	path = pvDataCPP
	url = https://github.com/epics-base/pvDataCPP
	branch = release/6.0
[submodule "pvAccessCPP"]
	path = pvAccessCPP
	url = https://github.com/epics-base/pvAccessCPP
	branch = release/5.0
[submodule "normativeTypesCPP"]
	path = normativeTypesCPP
	url = https://github.com/epics-base/normativeTypesCPP
	branch = release/5.1
[submodule "pvDatabaseCPP"]
	path = pvDatabaseCPP
	url = https://github.com/epics-base/pvDatabaseCPP
	branch = release/4.2
[submodule "pvaSrv"]
	path = pvaSrv
	url = https://github.com/epics-base/pvaSrv
	branch = release/0.12
[submodule "pvaClientCPP"]
	path = pvaClientCPP
	url = https://github.com/epics-base/pvaClientCPP
	branch = release/4.2
[submodule "exampleCPP"]
	path = exampleCPP
	url = https://github.com/epics-base/exampleCPP
	branch = release/4.2
[submodule "pvaPy"]
	path = pvaPy
	url = https://github.com/epics-base/pvaPy
	branch = release/0.6
