[submodule "pvCommonCPP"]
	path = pvCommonCPP
	url = https://github.com/epics-base/pvCommonCPP
	branch = master
[submodule "pvDataCPP"]
	path = pvDataCPP
	url = https://github.com/epics-base/pvDataCPP
	branch = master
[submodule "pvAccessCPP"]
	path = pvAccessCPP
	url = https://github.com/epics-base/pvAccessCPP
	branch = master
[submodule "normativeTypesCPP"]
	path = normativeTypesCPP
	url = https://github.com/epics-base/normativeTypesCPP
	branch = master
[submodule "pvDatabaseCPP"]
	path = pvDatabaseCPP
	url = https://github.com/epics-base/pvDatabaseCPP
	branch = master
[submodule "pvaClientCPP"]
	path = pvaClientCPP
	url = https://github.com/epics-base/pvaClientCPP
	branch = master
[submodule "exampleCPP"]
	path = exampleCPP
	url = https://github.com/epics-base/exampleCPP
	branch = master
[submodule "pvaPy"]
	path = pvaPy
	url = https://github.com/epics-base/pvaPy
	branch = master
[submodule "pva2pva"]
	path = pva2pva
	url = https://github.com/epics-base/pva2pva
